footer {
  height: 20vh;
  margin-inline: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-wrap {
  display: flex;
  gap: 4rem;
}
.contact-wrap h3 {
 padding-bottom: 1rem;
}
.contact-number {
  padding-top: 1rem;
}
.contact-wrap h3,
.contact-email h3 {
  font-size: 24px;
  font-family: var(--formal-font);
  font-weight: 600;
}
.contact-wrap h5 {
  font-size: 16px;
  font-family: var(--formal-font);
  font-weight: 500;
}
.contact-email h3 {
  text-decoration: underline;
  padding-left: 2rem;
}
