.footer {
  min-height: 20vh;
  width: 100%;
  padding-inline: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.contact_wrap {
  display: flex;
  gap: 2vw;
}
.contact_wrap h3 {
 padding-bottom: 1rem;
}
.contact_number {
  padding-top: 1rem;
}
.contact_wrap h3,
.contact_email h3 {
  font-size: clamp(2vh, 2rem, 2vw);
  font-family: var(--formal-font);
  font-weight: 600;
}
.contact_wrap h5 {
  font-size: clamp(1.5vh, 1.5rem, 1.5vw);
  font-family: var(--formal-font);
  font-weight: 500;
}
.contact_email h3 {
  text-decoration: underline;
  padding-left: 2rem;
}
@media (max-width: 1000px){
  .footer {
  flex-direction: column;
  }
}
