:root {
  --text-grey: 190, 190, 190;
  --background-grey: rgb(228, 230, 232);
  --background-dark-grey: rgb(218, 220, 222);
  --background-light-grey: rgb(242, 242, 244);
  --logo-green: rgb(115, 150, 45);
  --formal-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --cormorant: 'Cormorant', serif;
  --the-orange: #f0811a;
  --btn-trans: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  --clamp2: clamp(2vh, 2rem, 2vw);
  --clamp15: clamp(1.5vh, 1.5rem, 1.5vw);
  --clamp1: clamp(1vh, 1rem, 1vw);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  width: 100vw;
}

img {
  display: block;
}

body {
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}