.intro_wrap {
  margin-inline: 15%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.left_intro_column img {
  object-fit: cover;
}
.left_intro_column {
  animation: 1.5s ease-out 0s 1 slideFromLeft;
}
.button_29 {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin: 1px;
  border: 1px solid #fff;
  font-size: clamp(1rem, 1.5vw, 4rem);
}
.button_29:hover {
  background-color: #f0811a;
}
.right_intro_column {
  text-align: center;
  font-family: 'Cormorant', serif;
  font-weight: normal;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.right_intro_column img {
  min-height: 140px;
  max-height: 30%;
  width: auto;
  animation: 1s ease-out 0s 1 slideFromLeft;
}
.right_intro_column h5, .right_intro_column h2 {
  color: rgb(var(--text-grey));
}
.order_link_span {
  text-decoration: underline;
}
.order_link_span:hover {
  color: white;
}
.right_intro_column h2,
.right_intro_column h5 {
  font-weight: normal;
  animation: 0.4s ease-out 0s 1 slideFromRight;
}
.intro_extend {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 2rem;
  gap: 2rem;
  height: auto;
  background-color: white;
  color: black;
  text-align: center;
  padding-inline: 10%;
}
.extend_title {
  font-size: clamp(8vh, 8rem, 8vw);
  font-family: var(--formal-font);
  font-weight: 600;
}
.intro_extend_flex img {
  width: 250px;
  object-fit: contain;
}
.intro_extend_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.intro_extend_flex h3 {
  font-size: clamp(2vh, 2rem, 2vw);
}
.parallax_shot,
.delivery_parallax {
  min-height: 50vh;
  height: 50vh;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.parallax_shot {
  background-image: url(../public/wide-shot-table2.jpg);
}
.about_italy {
  background-color: white;
  padding-bottom: 1rem;
}
.italy_desc,
.italy_wine_desc {
  margin-inline: 10%;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(50, 50, 50);
  gap: 2rem;
}
.italy_desc_text,
.italy_desc_map,
.italy_wine_desc_img,
.italy_wine_desc__ext {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desc_btn {
  transition: var(--btn-trans);
}
.desc_btn:hover {
  background-color: var(--the-orange);
}
.mapouter {
  position:relative;
  text-align:right;
  width:600px;
  height:500px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:600px;
  height:500px;
}
.gmap_iframe {
  width:600px!important;
  height:500px!important;
}
.italy_desc_text {
  flex-direction: column;
}
.desc_btn {
  background-color: black;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: larger;
  color: white;
}
.italy_wine_desc {
  margin-top: 4rem;
  margin-bottom: 4rem;
  justify-content: flex-start;
}
.italy_wine_desc_img {
  width: 60%;
}
.italy_wine_desc_img img {
  max-width: 100%;
  object-fit: cover;
  object-position: center right;
}
.italy_wine_desc_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.button_container {
  display: flex;
}
.italy_desc_text,
.italy_wine_desc_text {
  width: 20%;
}
.delivery_parallax {
  min-height: 80vh;
  height: 80vh;
  background-image: url(../public/delivery-wide.jpg);
  background-size: cover;
}

.delivery_parallax_wrap {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100vw;
  min-height: 80vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}
.delivery_parallax_wrap h1 {
  font-weight:bolder;
  font-size: clamp(12vh, 12rem, 12vw);
  font-family: var(--formal-font);
}
.delivery_parallax_wrap h2 {
  font-size: clamp(4vh, 4rem, 4vw);
  font-family: var(--formal-font);
}
.delivery_btn_grp {
  gap: 4rem;
  display: flex;
}
@media (max-width: 1000px){
  .intro_wrap {
    grid-template-columns: 1fr;
    margin: 4rem 20%;
  }
  .intro_wrap_grid {
    height: auto;
  }
  .right_intro_column {
    height: auto;
  }_  .right_intro_column h2 {
    overflow: visible;
    height: auto;
  }
  .right_intro_column h5 {
    overflow: visible;
  }
  .left_intro_column {
    display: none;
  }
  .right_intro_column img {
    max-height: 10vh;
  }
  .button_29 {
    padding: 0.4rem 1.2rem;
    margin-top: 1rem;
  }
  .intro_extend {
    height: auto;
  }
  .intro_extend_flex {
    flex-direction: column;
    gap: 2rem;
  }
  .extend_title {
    font-size: clamp(2rem, 2vh, 3rem);
  }
  .italy_desc,
  .italy_wine_desc {
    flex-direction: column;
  }
  .italy_desc_text,
  .italy_wine_desc_text,
  .italy_desc_map {
    width: 100%;
  }
  .italy_wine_desc_img {
    display: none;
  }
}
@media (max-width: 1280px){
  .button_29 {
    padding: 0.7rem 2.1rem;
  }
  
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-35%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(35%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
