nav {
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
  width: 100%;
  background-color: black;
}
.logo-img {
  width: clamp(2vw, 64px, 2vh);
  min-width: 64px;
  height: auto;
}
#nav-list {
  display: flex;
  font-size: clamp(2vh, 1rem, 1vw);
}
#nav-list li {
  display: inline-block;
  margin-left: 2vw;
  color: rgb(var(--text-grey))
}
#nav-list li:hover {
  color: white;
  transition: 0.4s;
}
.order-list-item {
  display: none;
}
.button-28 {
  appearance: none;
  background-color: black;
  border: 1px solid #fff;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  margin: 1rem 0 1rem 5rem;
  padding: 1rem 2rem;
  font-size: clamp(1vh, 1rem, 1vw);
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: var(--btn-trans);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.button-28:disabled {
  pointer-events: none;
}
.button-28:hover {
  color: #fff;
  background-color: #f0811a;
}
.burger {
  filter: invert(78%) sepia(44%) saturate(0%) hue-rotate(179deg) brightness(99%) contrast(85%);
  cursor: pointer;
}
.burger-bg {
  display: none;
  height: 24px;
  width: 24px;
  border-radius: 6px;
}
.burger-bg:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: ease-in-out 0.1s;
}
#nav-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
}
#nav-toggle svg {
  height: 4rem;
  width: 4rem;
}
#nav-toggle .openIcon {
  display: block;
}
#nav-toggle .closeIcon {
  display: none;
}
.nav-links.open {
  animation: 0.5s ease-out 0s 1 slideFromRight;
}
#nav-toggle.open .openIcon {
  display: none;
}
#nav-toggle.open .closeIcon {
  display: block;
}
.list-and-toggle-wrap {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.list-and-toggle-wrap.open {
  align-items: flex-end;
  height: 100vh;
  overflow: hidden;
  animation: none;
}
.block {
  height: 100%;
  width: 100%;
  overflow: hidden!important;
}
@media (max-width: 1000px){
  .button-28 {
    margin: 1rem 0 1rem 1rem;
  }
}
@media (max-width: 760px){
  nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    justify-content: flex-end;
    animation: 0.8s 0s 1 slideFromTop;
  }
  .nav-links,
  nav .button-28 {
    display: none;
  }
  .logo-image-link {
    display: none;
  }
  #nav-toggle {
    display: block;
  }
  .nav-links.open {
    display: block;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    text-align: right;
  }
  #nav-list {
    margin-top: 1rem;
  }
  #nav-list li {
    padding-bottom: 2rem;
    padding-right: 1rem;
  }
  .order-list-item {
    display: inline;
  }
  .list-and-toggle-wrap {
    justify-content: flex-end;
    flex-direction: column-reverse;
  }
  .list-and-toggle-wrap.open {
    background-color: black;
    width: auto;
    animation: 0.2s 0s 1 slideFromRight;
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(35%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-35%);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}