.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
  font-size: larger;
}
.button_28 {
  appearance: none;
  background-color: black;
  border: 1px solid #fff;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: 0.5rem 1.5rem;
  font-size: var(--clamp15);
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: var(--btn-trans);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.button_28:disabled {
  pointer-events: none;
}
.button_28:hover {
  color: #fff;
  background-color: #f0811a;
}
.burger_toggle {
  border: none;
  background-color: black;
  cursor: pointer;
  display: none;
}
.logo_img {
  filter: invert(100%);
}
.hide {
  display: none;
}
.show {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 760px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: auto;
  }
  .show {
    flex-direction: column-reverse;
  }
  .button_28 {
    display: none;
  }
  .logo_img {
    display: none;
  }
  .burger_toggle {
    display: block;
  }
}
