.light_bg {
  background-color: var(--background-light-grey);
  color: black;
}
.order_intro {
  width: 100vw;
  height: 30vh;
}
.order_intro img {
  width: 100%;
  object-fit: cover;
  object-position: top center;
  height: 100%;
}
.order_btn_grp {
  padding-inline: 15%;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  padding-bottom: 1rem;
  border-bottom: 2px grey solid;
}
.order_navigation {
  min-height: 2rem
}
.order_navigation li {
  margin-left: 2rem;
  display: inline;
  height: auto;
}
.order_navigation li a {
  position: relative;
  font-family: var(--formal-font);
}
.order_navigation li a::after {
  border-bottom: 2px solid green;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
}
.order_navigation li a:hover::after {
  width: 100%;
}
.order_category {
  padding-inline: 15%;
  margin-bottom: 2rem;
}
.category_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}
.order_category_title {
  margin: 2rem 0;
}
.order_category_title h2 {
  font-weight: 500;
  font-size: 3rem;
  font-family: var(--formal-font);
}
.category_item_wrap img {
  width: 135px;
  height: 90px;
  margin-right: 1rem;
  border-radius: 1rem;
}
.category_item_wrap {
  background-color: white;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: var(--background-dark-grey);
  min-height: 180px;
}
.category_item_desc {
  width: 70%;  
}
.category_item_desc > * {
  padding-bottom: 1rem;
  font-family: var(--formal-font);
  font-weight: 500;
}