.light-bg {
  background-color: var(--background-light-grey);
  color: black;
}
.order-intro {
  width: 100vw;
  height: 30vh;
}
.order-intro img {
  width: 100%;
  object-fit: cover;
  object-position: top center;
  height: 100%;
}
.order-btn-grp {
  padding-inline: 15%;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  padding-bottom: 1rem;
  border-bottom: 2px grey solid;
}
.order-navigation {
  min-height: 2rem
}
.order-navigation li {
  margin-left: 2rem;
  display: inline;
  height: auto;
}
.order-navigation li a {
  position: relative;
  font-family: var(--formal-font);
}
.order-navigation li a::after {
  border-bottom: 2px solid green;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
}
.order-navigation li a:hover::after {
  width: 100%;
}
.order-category {
  padding-inline: 15%;
}
.category-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}
.order-category-title {
  margin: 2rem 0;
}
.order-category-title h2 {
  font-weight: 500;
  font-size: 3rem;
  font-family: var(--formal-font);
}
.category-item-wrap img {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  border-radius: 1rem;
}
.category-item-wrap {
  background-color: white;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: var(--background-dark-grey);
}
.category-item-desc {
  width: 70%;  
}
.category-item-desc > * {
  padding-bottom: 1rem;
  font-family: var(--formal-font);
  font-weight: 500;
}