.navbar {
  background-color: var(--background-light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20%;
  min-height: 4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: var(--clampWide);
}
/* NAVIGATION LIST */
.list {
  color: black;
}
.list li {
  display: inline;
  margin-left: 2rem;
  position: relative;
}
.list li::after {
  border-bottom: 1px solid green;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
}
.list li:hover::after {
  width: 100%;
}
/* CART */
.cart_wrap {
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cart_span {
  color: black;
}
.cart_svg {
  height: 32px;
  width: 32px;
  position: relative;
  background-image: url('../public/shopping-cart-outline.svg');
  background-size: 100%;
}
.cart_number {
  color: black;
}
.nav_toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
}
.nav_toggle svg {
  height: 2rem;
  width: 2rem;
  filter: invert(78%) sepia(44%) saturate(0%) hue-rotate(179deg) brightness(99%) contrast(85%);
  cursor: pointer;
}
.openIcon {
  display: block;
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
}
.closeIcon {
  display: none;
}
.nav_links.open {
  animation: 0.5s ease-out 0s 1 slideFromRight;
}
.nav_toggle.open .openIcon {
  display: none;
}
.nav_toggle.open .closeIcon {
  display: block;
}
@media (max-width: 788px) {
  .nav_toggle,
  .nav_links.open {
    display: block;
  }
  .list {
    display: none;
  }
  .navbar {
    justify-content: space-between;
    padding-inline: 5%;
  }
  .cart_wrap {
    gap: 1rem;
  }
  
}