.navbar {
  background-color: var(--background-light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15%;
  min-height: 4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: var(--clampWide);
}
/* NAVIGATION LIST */
.list {
  color: black;
}
.list li {
  display: inline;
  margin-left: 2rem;
  position: relative;
}
.list li::after {
  border-bottom: 1px solid green;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
}
.list li:hover::after {
  width: 100%;
}
/* CART */
.cart_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cart_span {
  color: black;
}
.cart_svg {
  height: 32px;
  width: 32px;
  background-image: url('../public/shopping-cart-outline.svg');
  background-size: 100%;
}
.cart_number {
  color: black;
}
.nav_toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  filter: invert(78%) sepia(44%) saturate(0%) hue-rotate(179deg) brightness(99%) contrast(85%);
}
.nav_toggle svg,
.modal svg {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.openIcon {
  display: block;
}
.closeIcon {
  display: none;
}
.modal {
  display: none;
  color: black;
  background-color: var(--background-light-grey);
  width: 300px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
  border-left: 1px solid var(--background-dark-grey);
  animation: 0.2s 0s 1 slideFromRight;
}
.modal_list {
  width: 100%;
  font-size: var(--clamp2);
}
.modal_list li{
  padding: 2rem;
  text-align: center;
}
.modal_list li:not(:last-child) {
  border-bottom: 2px solid var(--background-dark-grey);
}
.modal_list li:first-child {
  border-top: 2px solid var(--background-dark-grey);
}
.modal svg {
  margin: 1rem 5vw;
}
.block {
  height: 100%;
  overflow: hidden;
}
@media (max-width: 760px) {
  .nav_toggle,
  .nav_links.open {
    display: block;
  }
  .list {
    display: none;
  }
  .navbar {
    justify-content: space-between;
    padding-inline: 5%;
  }
  .cart_wrap {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .modal {
    width: 100vw;
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(35%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}