.navbar {
  background-color: var(--background-light-grey);
  color: black;
  font-weight: 500;
  font-size: large;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}
.links {
  gap: 1rem;
  display: flex;
}
.navbar_cart {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  position: relative;
}
.hide {
  display: none;
}
.burger {
  cursor: pointer;
}
.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  background-color: var(--background-light-grey);
  top: calc(100% + 0.4rem);
  right: -4rem;
  padding: 1rem;
}
.dropdown_title {
  white-space: nowrap;;
}
.dropdown_item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.dropdown_item_quantity {
  height: 24px;
  line-height: 24px;
  font-family: 'Courier New', Courier, monospace;
}
.dropwdown_item_button_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.dropwdown_item_button_wrapper svg {
  cursor: pointer;
  background-color: var(--background-light-grey);
}
@media (max-width: 760px) {
  
}